.class1 {
    background-color: teal  ;
}
.class2 {
    background-color: plum ;
    display: flex;
    justify-content: center;
}

.class3 {
    background-color: peru ;
    display: inline;
}
.class4 {
    background-color: indianred;
    display: none;
}
.class5 {
    background-color: rgb(100, 136, 16);
    display: flex;
    justify-content: center;
}

.sclass3 {
    background-color: grey;
}

.sclass1 {
    background-color: yellow;
}

.sclass2 {
    background-color: tomato;
    display: inline-block;
    height: 50px;
    width: 200px;

}
.sclass4 {
    background-color: violet;
}

.sclass5 {
    background-color: tan;
}