body {
background-color: lightpink;
}

.container {
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    height: 400px;
}

.child {
    margin: 10px;
    border: 3px solid black;
    width: 50px;
    height: 50px;

}